@model IGUPatients.Models.MedicationType

@{
    ViewData["Title"] = "Details of Medication Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Details of Medication Type</h2>

<div>
    <h4>MedicationType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MedicationTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
